.action {
    display: inline-flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}


.action:before {
    content:"";
    background-color: rgb(255, 106, 0);
    height: 10px;
    width: 10px;
    margin-right: 10px;
}