    header {
        background-color: rgb(75, 7, 95);

    }
    
    a {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: "fira code", Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-decoration: none;
        margin-right: 30px;
    }
    #button {
        display: inline-block;
        background-color: rgb(255, 106, 0);
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 5px 5px 0px black;
    }

    nav {
        text-align: center;
    }